body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    /* background-image: pulls random photo using last keyword as search keyword. stlye in HTML to load first*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.weather-container {
    width: 30vw;
    min-width: 300px;
    max-width: 450px;
    height: auto;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.644);
}
.title {
    text-align: start;
    font-family: 'Fredoka', sans-serif;
    margin-left: 10%;
    padding-top: .25em;
}


/*--------search items------*/
#search-input {
    outline: none;
    padding: .25em;
    border-radius: .75em;
    border: none;
    background-color: rgba(78, 78, 78, 0.425);
}
#search-btn {
    margin: .35em;
    height: 1.6em;
    width: 1.6em;
    border-radius: 50%;
    border: none;
    background-color: rgba(78, 78, 78, 0.425);
    cursor: pointer;
}
#search-btn:active {
    background-color: rgba(32, 32, 32, 0.562);
}

/*--------center all container items within their divs------*/
.weather-items {
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*--------weather information------*/
.location, .weather-icon, .temperature, .description, #more-info{
    font-family: 'Fredoka', sans-serif;
}
.search-bar {
    width: 100% ;
    height: 2.5em;
}
.location {
    text-align: center;
    font-size: 1.25em;
    width: 100%;
    height: auto;
}
.weather-icon { /*centers icon image*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.temperature {
    font-size: 3.5em;
    width: 100%;
    height: 1.5em;
}
.description {
    text-align: center;
    font-size: 1.25em;
    height: auto;
    padding-bottom: .35em;
}
#detailed-weather {
    display: none;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: auto;
    width: 90%;
    margin-left: 5%;
    border-top: 1px solid rgba(37, 37, 37, 0.404);
    font-family: 'Fredoka', sans-serif;
    font-size: .75em;
    text-align: center;
}
.detailed-item {
    padding: .25em;
}
.refresh {
    width: 90%;
    justify-content: flex-end;
    margin-left: 5%;
    height: auto;
    padding-bottom: .35em;
    padding-top: .35em;
    border-top: 1px solid rgba(37, 37, 37, 0.404);
}
#more-info {
    display: none;
    cursor: pointer;
    margin-right: 1em;
}
#refresh-btn {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 1em;
}
#degree-toggle {
    margin-right: 1em;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
    font-size: .8em;
    cursor: pointer;
}